<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="exWindowMailService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="VehicleTracking" connectionString="Data Source=FI-EMAPP04;Initial Catalog=vts;User ID=svc_sqltracker;Password=welcome01??" providerName="System.Data.SqlClient"/>
    <!--<add name="VehicleTracking" connectionString="Data Source=vtsex.ckavclepjgm2.ap-southeast-2.rds.amazonaws.com,1433;Initial Catalog=vts;User ID=vtsex;Password=welcome01??" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <applicationSettings>
    <exWindowMailService.Properties.Settings>
      <setting name="exWindowMailService_localhost_IntegratedService" serializeAs="String">
        <value>http://localhost/VTS/IntegratedService.asmx</value>
      </setting>
    </exWindowMailService.Properties.Settings>
  </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
